:root{
  --Ripe__Lemon: #F3E31B;
  --Black: #040404;
  --Buttered__Rum: #97880A;
  --Yukon__Gold:#7C6C04;
  --white: white;
  --padding: 8px;
  --margin: 10px;
  --border-radius: 8px;
  --transition: 0.3s;
  --max-width: 1400px;
}